{% extends 'base.html' %}
{% load static %}


{% block content %}

<!--Banner image-->

<div class="container-resposnive about-banner push-footer-down">
    {% include 'components/navbar.html' %}
</div>

<!--breadcrumbs -->
<div class="container-fluid breadcrumbs">
    <div class="row">
        <div id="breadcrumbs" class="col-12 mt-1">
            <a href="/" class="text-dark pl-4 ml-5">Home</a> &gt;
            <a href="{% url 'about' %}" class="text-dark">About</a>
        </div>
    </div>
</div>

<!--Content-->
<div class="container resposnive">
    <div class="row">
        <div class="col">
            <h1 class="about text-center mt-5 pt-5">About</h1>
            <p class="text-about text-center rounded mx-auto d-block pt-3 mt-3">The birth of the Coffeeshop Company can be traced back to 1971 when the first Black & White opened its doors to its guests on a historical September day in Bournemouth.
                                                                                Characterized by a very special and unimitable atmosphere, the Black & White is a new, unique interpretation of the ever-popular traditional.</p>
        </div>
    </div>
</div>


<!--Promises-->
    <section class="container promises pb-5">
            <div class="row no-gutters pt-5 mt-4">
                <div class="col-sm-12 col-md-4 mt-3">
                    <img src="{% static 'img/beans.png' %}" alt="coffee-tree" class="rounded mx-auto d-block mb-4">
                    <h4 class="text-center">100%<br>ARABICA BEANS</h4>
                    <p class="promises-text text-center mt-4 rounded mx-auto d-block">Our coffee undergoes a special roasting process in order to bring the best out of the bean.</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img src="{% static 'img/youth.svg' %}" alt="coffee-tree" class="rounded mx-auto d-block mb-4">
                    <h4 class="text-center">YOUTH &<br>SKILLS</h4>
                    <p class="promises-text text-center mt-4 rounded mx-auto d-block">We supports young people with funding and training to help get social action projects off the ground.</p>
                </div>
                <div class="col-sm-12 col-md-4 mt-3">
                    <img src="{% static 'img/packaging.svg' %}" alt="coffee-tree" class="rounded mx-auto d-block mb-4">
                    <h4 class="text-center">RECYCABLE<br>PACKAGING</h4>
                    <p class="promises-text text-center mt-4 rounded mx-auto d-block">100 percent of our packaging to be recyclable, compostable or biodegradable.</p>
            </div>
            </div>
</section>


<!--Images-->
<div class="container pt-5 pb-3">
    <div class="row-images mt-3"> 
        <div class="column">
            <img src="https://images.unsplash.com/photo-1525610553991-2bede1a236e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="about us image">  
            <img src="https://images.unsplash.com/photo-1484251065541-c9770829890f?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="about us image">
            <img src="https://images.unsplash.com/photo-1482350325005-eda5e677279b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="about us image">
            <img src="https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="about us image">
            <img src="https://images.unsplash.com/photo-1529417305485-480f579e7578?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1109&q=80" alt="about us image">
            <img src="https://images.unsplash.com/photo-1511920170033-f8396924c348?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="about us image">
        </div>
        <div class="column">
            <img src="https://images.unsplash.com/photo-1509042239860-f550ce710b93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="about us image">
            <img src="https://images.unsplash.com/photo-1505275350441-83dcda8eeef5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" alt="about us image">
            <img src="https://images.unsplash.com/photo-1507914464562-6ff4ac29692f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="about us image">
            <img src="https://images.unsplash.com/photo-1493857671505-72967e2e2760?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="about us image">
            <img src="https://images.unsplash.com/photo-1453614512568-c4024d13c247?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80" alt="about us image">
            <img src="https://images.unsplash.com/photo-1464979681340-bdd28a61699e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="about us image">
            <img src="https://images.unsplash.com/photo-1514371879740-2e7d2068f502?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" alt="about us image">
        </div>  
        <div class="column">
            <img src="https://images.unsplash.com/photo-1488751045188-3c55bbf9a3fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="about us image">
            <img src="https://images.unsplash.com/photo-1531590878845-12627191e687?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80" alt="about us image">
            <img src="https://images.unsplash.com/photo-1521161908453-1cacd0215437?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80" alt="about us image">
            <img src="https://images.unsplash.com/photo-1502045856-4882464b27a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80" alt="about us image">
            <img src="https://images.unsplash.com/photo-1507226983735-a838615193b0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="about us image">
        </div>
        <div class="column">
            <img src="https://images.unsplash.com/photo-1514066637891-498034f5a154?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="about us image">
            <img src="https://images.unsplash.com/photo-1582696942447-40c2a0c5a13d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="about us image">
            <img src="https://images.unsplash.com/photo-1511667282954-8957078364a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=628&q=80" alt="about us image">
            <img src="https://images.unsplash.com/photo-1520209268518-aec60b8bb5ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=884&q=80" alt="about us image">
            <img src="https://images.unsplash.com/5/unsplash-bonus.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="about us image">
        </div>
    </div>
</div>


{% endblock %}    