{% extends 'base.html' %}
{% load static %}


{% block content %}


<!--Content-->
<div class="container resposnive">
    <div class="row">
        <div class="col">
            <h1 class="about text-center mt-5 pt-5">About Us</h1>
            <p class="text-about text-center rounded mx-auto d-block pt-3 mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo sint, doloremque perspiciatis, reiciendis voluptatibus rem voluptas rerum quia fuga cumque odio labore dolor quos, atque inventore esse ut earum dicta?</p>
        </div>
    </div>
</div>

<!--Images-->
<div class="container-images">

    <div class="row no-gutters gallery mt-5 pt-4">
            <div class="col gallery-item">
                <img class="gallery-image" src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2017/09/flat-white.jpg" alt="">
            </div>
            <div class="col gallery-item">
                <img class="gallery-image" src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2017/09/flat-white.jpg" alt="">
            </div>
    </div>

    <div class="row no-gutters gallery mt-4">
            <div class="col gallery-item">
                <img class="gallery-image" src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2017/09/flat-white.jpg" alt="">
            </div>
            <div class="col gallery-item">
                <img class="gallery-image" src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2017/09/flat-white.jpg" alt="">
            </div>
    </div>

    <div class="row no-gutters gallery mt-4">
            <div class="col gallery-item">
                <img class="gallery-image" src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2017/09/flat-white.jpg" alt="">
            </div>

            <div class="col gallery-item">
                <img class="gallery-image" src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2017/09/flat-white.jpg" alt="">
            </div>
    </div>

</div>


{% endblock %}