{% extends 'base.html' %}


{% block content %}

<!--Banner image-->
<div class="container-resposnive banner delivery-banner push-footer-down">
    {% include 'components/navbar.html' %}
</div>


<!--Breadcrumbs -->
<div class="container-fluid breadcrumbs">
    <div class="row">
        <div id="breadcrumbs" class="col-12 mt-1">
            <a href="/" class="text-dark pl-4 ml-5">Home</a> &gt;
            <a href="{% url 'about' %}" class="text-dark">Contact</a>
        </div>
    </div>
</div>


<!--Contact Form-->
<div class="contact-wrapper">
    <div class="container-responsive contact-form">

        <!--Message-->
        <div class="container-fluid message">
            <div class="row message rounded mx-auto d-block ">
            {% if messages %}
            {% for message in messages %}

            <div class="message alert-{{ message.tags }} text-center">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            </div>
        </div>

            <div class="row justify-content-center contact-row">
                <div class="col-12 col-md-6 contact-wrapper">
                    <div class="contact-form-wrapper mx-auto my-3">
                        <form id="contact-form" method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                              <h3 class="contact-content pt-4 mt-4">Drop us a line!</h3>
                                <hr>
                        <div id="div_id_name" class="form-group contact-content"> <label for="id_name" class="requiredField">
                            Name<span class="asteriskField"></span> </label> 
                            <div> <input type="text" name="name" class="textinput textInput form-control contact-control" aria-label="name" required id="id_name"> 
                            </div> 
                        </div> 
                        <div id="div_id_email" class="form-group contact-content"> <label for="id_email" class="requiredField">
                            Email<span class="asteriskField"></span> </label> 
                            <div> <input type="email" name="email" value="" class="emailinput form-control contact-control" aria-label="email" required id="id_email"> 
                            </div> 
                        </div> 
                        <div id="div_id_message" class="form-group contact-content"> <label for="id_message" class="requiredField">
                            Message<span class="asteriskField"></span> </label> 
                            <div> <textarea name="message" cols="40" rows="8" class="textarea form-control contact-control" required id="id_message">
                                </textarea> 
                            </div> 
                        </div>
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-contact-send contact-button" type="submit">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 

{% endblock %}