{% extends 'base.html' %}

{% load static %}


{% block content %}

<!--Banner image-->

<div class="container-resposnive delivery-banner push-footer-down">
    {% include 'components/navbar.html' %}
</div>

<!--breadcrumbs -->
<div class="container-fluid breadcrumbs">
    <div class="row">
        <div id="breadcrumbs" class="col-12 mt-1">
            <a href="/" class="text-dark pl-4 ml-5">Home</a> &gt;
            <a href="{% url 'about' %}" class="text-dark">Delivery</a>
        </div>
    </div>
</div>

<!--Delivery information-->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="title-delivery mt-5 pt-5">Delivery Information</h1>
            <hr>

            <h4 class="font-weight-bold mt-3 pt-4">Free Delivery</h4>
            <p>
                Free delivery is within the UK only and is sent via Royal Mail 2nd Class.
            </p>     

            <h4 class="font-weight-bold mt-3 pt-4">How we work</h4>     
            <p>We want the coffee to arrive with you as fresh as possible. With that in mind, we process our orders every morning, at 8 am, 
                and make up our daily roast schedule accordingly. We aim to despatch all orders placed before 8 am the very same day.  
            </p>

            <h4 class="font-weight-bold mt-3 pt-4">Lead time</h4>
            <p>After we receive your order it will be roasted and despatched on the next working day. Working days are Mon - Friday, 
                if you order after 8 am on Friday then it will be processed the following Monday.
            </p>

            <h4 class="font-weight-bold mt-3 pt-4">Postal</h4>
            <p>Royal Mail 1st Class 1-2 days Royal Mail 2nd Class 2-3 days Parcel Force - Next Working day (Mon to Fri only)
                Items will be posted to the address received during the checkout process. </p>

            <h4 class="font-weight-bold mt-3 pt-4">Delivery Charges</h4>
            <p>
                Roasted coffee shipping charges: Parcels up to 3 kg will be sent via Royal Mail and the price will be calculated during 
                checkout.  Parcels over 3 kg are sometimes sent via Parcel Force. (Contact us if you require confirmation)
                Coffee Machines and Grinders:  Postage and packaging will be quoted at time of order.
            </p>

            <h4 class="font-weight-bold mt-3 pt-4">International</h4>
            <p>
                International postage is calculated at checkout. If you would like a tracked delivery please request a quotation before ordering.
                 We cannot guarantee delivery if you have not selected this option.
            </p>

            <h4 class="font-weight-bold mt-3 pt-4">Changed of mind</h4>
            <p class="bottom pb-5">
                If you have changed your mind and the items are unsuitable then please contact us within 14 days of receipt of the goods to arrange a refund. 
                You will incur the carriage charge for return of the goods. Please note that refunds are subject to the provided goods being in perfect,
                unused and complete in their unopened original packaging. Please allow 14 working days for this process. All shipping back to Rave Coffee 
                is to be paid for by the customer.  We recommend that your carrier provides you with ‘proof of delivery’ as Rave Coffee cannot be held responsible 
                for goods lost or damaged in transit. 
            </p>
        </div>
    </div>
</div>

{% endblock %}

{endblock}