{% extends 'base.hmtl' %}

{block content}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Delivery Information</h1>
            <h3>COVID - 19</h3>
            <p>It’s extremely important to us that we action everything necessary to keep our customers and team safe while we are all battling Covid-19 as 
                a community. As of March 25th, New Zealand entered Level 4 lockdown which meant all non-essential services were to close. This also means that 
                our lovely couriers who were previously able to deliver our goods to customers are now unable to do so. This is an important part of the process, 
                as couriers are an essential transport service and the delivery of important packages are the priority during this time.
            </p>

            <p>We empathise with all small businesses that have been impacted by the current climate and the love we share for our neighbours,
                labels and friends alike extends to all. If you are able to, continuing to support small businesses during this period means the world, 
                and it supports the longevity of their craft.
            </p>


            <p>Our online store is still open for browsing and shopping 24/7. We have and will continue to upload current styles for your pleasure. 
                If you support us by placing an order online, your order will be fulfilled as soon as restrictions are lifted. Every order truly warms 
                our heart and we thank you so much for choosing to support us, our team, our labels and their families.
            </p>

            <p>Please shop without worry- our return policy will continue to extend as the situation evolves and we will be accepting all returns for refund,
                 credit or exchange. Feel free to contact us on any platform if you have a query.
            </p>
            
           <p>We also have online gift cards available to purchase for another, or to treat yourself.
                Thank you and stay safe friends xx
            </p> 

            <h3>Shipping</h3>
            <p>We have implemented FREE SHIPPING on all domestic deliveries to enhance your online shopping experience during this time. Your beautiful parcel will be sent via courier once restrictions are lifted and pick-ups will be ready once we get the all clear to reopen the store.
                Below you can read our usual shipping policies, but for now rest assured you can simply select FREE SHIPPING at the checkout.
            </p>

            <h3>Lost Packages</h3>
            <p>If any packages are completely lost in transit during the course of our delivery, we will replace or refund the item if shipped nationally.
                If you are returning an item which may be faulty, or an exchange, please know that we do not take any responsibility for items lost in the post.
                 We recommend a track and trace method to ensure this doesn't happen; your garment cannot be processed for an exchange or a refund if it goes missing.
                The expense of return shipping is that of the customers, your initial order including shipping will be refunded if you are being reimbursed. 
            </p>
        </div>
    </div>
</div>

{endblock}