{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--Hero Image-->
    <section class="hero-image">
        <div class="row">
            <img src="{% static 'img/banner-image.png' %}" class="banner-image img-responsive" alt="banner">
            <img src="{% static 'img/logo.svg' %}" alt="logo" class="logo">
        </div>  
    </section>

<!--Introduction-->
    <section class="introduction">
        <div class="container pt-5 mt-3">
            <div class="row pt-4">
                <div class="col-12">
                    <img src="{% static 'img/coffee-tree.svg' %}" alt="coffee-tree" class="rounded mx-auto d-block">
                    <div class="col pt-5 rounded mx-auto">
                        <h1 class="introduction text-center pb-3 mb-3">OUR DELICIOUS OFFER</h1>
                        <p class="introductionn text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, nihil sit! Dolor veniam, voluptatibus voluptatum consequatur repudiandae nihil numquam officiis? Vitae, iste hic! Quis similique expedita velit adipisci, vitae quae.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--Promises-->
    <section class="promises">
        <div class="container">
            <div class="row pt-5 mt-4">
                <div class="col-sm-12 col-md-4 mt-3">
                    <img src="{% static 'img/beans.png' %}" alt="coffee-tree" class="rounded mx-auto d-block mb-4">
                    <h4 class="text-center">100%<br>ARABICA BEANS</h4>
                    <p class="promises-text text-center mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img src="{% static 'img/youth.svg' %}" alt="coffee-tree" class="rounded mx-auto d-block mb-4">
                    <h4 class="text-center">YOUTH &<br>SKILLS</h4>
                    <p class="promises-text text-center mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint</p>
                </div>
                <div class="col-sm-12 col-md-4 mt-3">
                    <img src="{% static 'img/packaging.svg' %}" alt="coffee-tree" class="rounded mx-auto d-block mb-4">
                    <h4 class="text-center">RECYCABLE<br>PACKAGING</h4>
                    <p class="promises-text text-center mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint</p>
            </div>
        </div>
            <div class="col read-more rounded mx-auto d-block pt-3 mt-5">
                <p class="text-center">READ MORE</p>
            </div>
        </div>
    </section>


<!--Products-->
    <section class="products">
            <div class="row pt-4 mt-5">
                <img src="{% static 'img/image-products.png' %}" alt="products-image" class="products-image">
                <h3 class="products-text">COFFEE PRODUCTS</h3>
                <p class="products-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis hic eaque amet. Blanditiis, eius consequuntur</p>
               
               <a href="#"><p class="text-center view-more"><span class="viewmore rounded mx-auto d-block">VIEW MORE</span></p></a>
          
            </div>
    </section>

<!--Video-->
    <section class="video-section">    
            <div class="row">
                <img src="{% static 'img/video-background.png' %}" class="video-background img-responsive" alt="video background image">
                <p class="video-text rounded mx-auto d-block">BLACK & WHITE COFFEE</p>
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/yagagM7SlWs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
    </section>

<!--Mission & Vission-->
    <section class="mission">
            <div class="container">
                    <div class="row">
                            <div class="col-sm-12 col-md-6 order-sm-1">
                                <img src="{% static 'img/mission.png' %}" alt="mission image" class="mission-home img-responsive pt-5 mt-4">
                            </div>
                    
                            <div class="col-sm-12 col-md-6 order-sm-2">
                                <h3 class="mission-title text-center">OUR MISSION</h3>
                                <p class="mission-text text-center pt-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi dolor recusandae illo natus similique cum nobis veniam, voluptates, obcaecati sed voluptas a dolore, voluptate odio in ad non nemo earum!</p> 
                                </div>
                    </div>
                    <div class="row">
                                <div class="col-sm-12 col-md-6 order-4 order-md-3">
                                <h3 class="mission-title text-center">OUR VISION</h3>
                                <p class="mission-text text-center pt-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi dolor recusandae illo natus similique cum nobis veniam, voluptates, obcaecati sed voluptas a dolore, voluptate odio in ad non nemo earum!</p> 
                                </div>

                                <div class="col-sm-12 col-md-6 order-3 order-md-4">
                                    <img src="{% static 'img/vission.png' %}" alt="mission image" class="mission-home img-responsive pt-5 mt-4">
                                </div>
                    </div>
            </div>
    </section>

<!--Contact banner-->
    <section class="contact-banner">
        <div class="row pt-5 mt-5">
            <div class="col">
                <img src="{% static 'img/contact-banner.png' %}" alt="contact banner" class="contact-banner img-responsive">
                <div class="col">
                    <p class="contact-text mr-sm-4 ml-5">LOREM IPSUM DOLOR SIT AMET</p>
                    <span class="contact-us"><p class="contact-s">CONTACT US</p></span>
                </div>
            </div>
        </div>
    </section>
    

{% endblock%}