{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
    <div class="container">
        <div class="row rounded mt-5">
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

<!--Introduction-->
    <section class="container-responsive pt-5 mt-3 introduction">
            <div class="row no-gutters pt-4">
                <div class="col-12">
                    <img src="{% static 'img/coffee-tree.svg' %}" alt="coffee-tree" class="rounded mx-auto d-block">
                    <div class="col pt-5 rounded mx-auto d-block">
                        <h1 class="introduction  text-center pb-3 mb-3">OUR DELICIOUS OFFER</h1>
                        <p class="introductionn text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, nihil sit! Dolor veniam, voluptatibus voluptatum consequatur repudiandae nihil numquam officiis? Vitae, iste hic! Quis similique expedita velit adipisci, vitae quae.</p>
                    </div>
                </div>
            </div>
    </section>

<!--Promises-->
    <section class="container promises">
            <div class="row no-gutters pt-5 mt-4">
                <div class="col-sm-12 col-md-4 mt-3">
                    <img src="{% static 'img/beans.png' %}" alt="coffee-tree" class="rounded mx-auto d-block mb-4">
                    <h4 class="text-center">100%<br>ARABICA BEANS</h4>
                    <p class="promises-text text-center mt-4 rounded mx-auto d-block">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img src="{% static 'img/youth.svg' %}" alt="coffee-tree" class="rounded mx-auto d-block mb-4">
                    <h4 class="text-center">YOUTH &<br>SKILLS</h4>
                    <p class="promises-text text-center mt-3 rounded mx-auto d-block">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint</p>
                </div>
                <div class="col-sm-12 col-md-4 mt-3">
                    <img src="{% static 'img/packaging.svg' %}" alt="coffee-tree" class="rounded mx-auto d-block mb-4">
                    <h4 class="text-center">RECYCABLE<br>PACKAGING</h4>
                    <p class="promises-text text-center mt-4 rounded mx-auto d-block">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint</p>
            </div>
            </div>
            
                <div class="read-more rounded mx-auto d-block pt-3 mt-5">
                <p class="text-center"><a href="{% url 'about' %}">READ MORE</a></p>
                </div>
    </section>

<!--Products-->
    <section class="container-responsive image-products products">
        <div class="row no-gutters text-white text-center float-md-right">
            <div class="col products-info ">
                <h3 class="products-title mt-5 pt-5">COFFEE PRODUCTS</h3>
                <p class="products-text mt-3 pt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis hic eaque amet. Blanditiis, eius consequuntur</p>
                <a href="{% url 'products' %}"><p class="rounded mx-auto d-block view-more mt-md-4 mt-3 pt-2"><span class="rounded mx-auto d-block">VIEW MORE</span></p></a>
            </div>
        </div>
    </section>


<!--Video-->
    <div class="container-responsive video-background video-section">
        <div class="row no-gutters">
            <div class="col">
                <h3 class="video-title text-center">BLACK & WHITE COFFEE</h3>
                <iframe width="90%" height="350" src="https://www.youtube.com/embed/yagagM7SlWs" class="video pt-3 mt-3 rounded mx-auto d-block" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>


<!--Mission & Vission-->
            <section class="container mission">
                    <div class="row no-gutters">
                            <div class="col-sm-12 col-md-6 order-sm-1">
                                <img src="{% static 'img/mission.png' %}" alt="mission image" class="mission-home img-responsive pt-5 mt-4">
                            </div>
                    
                            <div class="col-sm-12 col-md-6 order-sm-2 pt-3">
                                <h3 class="mission-title text-center">OUR MISSION</h3>
                                <p class="mission-text pt-3 mt-4 text-center">At Black & White we’re all about getting people together and enjoying each other’s company. We believe that what we do can weave a fabric of positive relationships and experiences that stretch from our coffee houses and out into the world.</p> 
                                </div>
                    </div>
                    <div class="row">
                                <div class="col-sm-12 col-md-6 order-4 order-md-3 mt-3">
                                <h3 class="mission-title text-center">OUR VISION</h3>
                                <p class="mission-text pt-3 text-center mt-4">We want to be a welcoming, comforting presence in every community we serve and anywhere else we happen to show up. We know our guests have a choice — and we never want them to feel less than special.</p> 
                                </div>

                                <div class="col-sm-12 col-md-6 order-3 order-md-4">
                                    <img src="{% static 'img/vission.png' %}" alt="mission image" class="mission-home img-responsive pt-5 mt-4">
                                </div>
                    </div>
            </section>


<!--Contact-->
    <section class="container-responsive contact-banner">
        <div class="row no-gutters">
            <div class="col-md-6 mt-3 pt-md-4 mt-md-4">
                <p class="contact-text">Give us a shout !</p>
            </div>

            <div class="col-md-6 mt-3 pt-md-4 mt-md-4"> 
                <a href="{% url 'contact' %}"><p class="contact-us"><span class="contact-border">CONTACT US</span></p></a>
            </div>
        </div>
    </section>


{% endblock%}