{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--Message-->
    <div class="container-fluid message">
        <div class="row message rounded mx-auto d-block ">
            {% if messages %}
            {% for message in messages %}

            <div class="message alert-{{ message.tags }} text-center">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            </div>
        </div>

<!--Banner image-->

<div class="container-fluid banner banner-background push-footer-down">
    {% include 'components/navbar.html' %}
        <!--Logo-->
    <div class="row pt-5 mt-5">
            <div class="col">
                <a href="{% url 'home' %}"><img src=" {% static 'img/logo.png' %}" alt="logo-navbar" class="logo-navbar rounded mx-auto d-block"></a>
            </div>
    </div>
</div>

<!--Introduction-->
    <section class="container-responsive pt-5 mt-3 introduction">
            <div class="row no-gutters pt-4">
                <div class="col-12">
                    <img src="{% static 'img/coffee-tree.svg' %}" alt="coffee-tree" class="rounded mx-auto d-block">
                    <div class="col pt-5 rounded mx-auto d-block">
                        <h1 class="introduction-text  text-center pb-3 mb-3"></h1>
                        <p class="introductionn text-center">asdAt Black & White coffee we’ve created a space with a unique style, for long lingering chats over coffee or creative workspace sessions. 
                                                            We believe we have the best coffee in town, just come and try for yourself! We make everything on-site. So come, sit awhile and enjoy 
                                                            your dream coffee or if you can't order it with us. Either way, …we’ve got you.</p>
                    </div>
                </div>
            </div>
    </section>

<!--Promises-->
    <section class="container promises">
            <div class="row no-gutters pt-5 mt-4">
                <div class="col-sm-12 col-md-4 mt-3">
                    <img src="{% static 'img/beans.png' %}" alt="coffee-tree" class="rounded mx-auto d-block mb-4">
                    <h4 class="promises-title text-center">100%<br>ARABICA BEANS</h4>
                    <p class="promises-text text-center mt-4 rounded mx-auto d-block pr-md-3">Our coffee undergoes a special roasting process in order to bring the best out of the bean.</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img src="{% static 'img/youth.svg' %}" alt="coffee-tree" class="rounded mx-auto d-block mb-4">
                    <h4 class="promises-title text-center">YOUTH &<br>SKILLS</h4>
                    <p class="promises-text text-center mt-4 rounded mx-auto d-block">We supports young people with funding and training to help get social action projects off the ground.</p>
                </div>
                <div class="col-sm-12 col-md-4 mt-3">
                    <img src="{% static 'img/packaging.svg' %}" alt="coffee-tree" class="rounded mx-auto d-block mb-4">
                    <h4 class="promises-title text-center">RECYCABLE<br>PACKAGING</h4>
                    <p class="promises-text text-center mt-4 rounded mx-auto d-block">100 percent of our packaging to be recyclable, compostable or biodegradable.</p>
            </div>
            </div>
            
                <div class="read-more rounded mx-auto d-block pt-3 mt-5">
                <p class="text-center"><a href="{% url 'about' %}"  class="text-white">READ MORE</a></p>
                </div>
    </section>

<!--Products-->
    <section class="container-responsive image-products products">
        <div class="row no-gutters text-white text-center float-md-right">
            <div class="col products-info ">
                <h3 class="products-title mt-4 pt-3">COFFEE PRODUCTS</h3>
                <img src="{% static 'img/break-img.svg' %}" alt="break-image" class="break-image mt-3">
                <p class="products-text mt-xl-3 pt-xl-2 mb-1">The best way to earn our guests’ trust and loyalty is by showing what we believe in every day. That means we have to know what we stand for and act in a way that support it.</p>
                <a href="{% url 'products' %}" class="text-white"><p class="rounded mx-auto d-block view-more mt-md-4 mt-3 pt-2"><span class="rounded mx-auto d-block">VIEW MORE</span></p></a>
            </div>
        </div>
    </section>


<!--Video-->
    <div class="container-responsive video-background video-section">
        <div class="row no-gutters">
            <div class="col">
                <h3 class="video-title text-center">BLACK & WHITE COFFEE</h3>
                <img src="{% static 'img/break-img.svg' %}" alt="break-image" class="break-image rounded mx-auto d-block mt-1">
                <iframe width="90%" height="350" src="https://www.youtube.com/embed/yagagM7SlWs" class="video pt-3 mt-3 rounded mx-auto d-block" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>


<!--Mission & Vission-->
            <section class="container mission">
                    <div class="row no-gutters">
                            <div class="col-sm-12 col-md-6 order-sm-1">
                                <img src="{% static 'img/mission.png' %}" alt="mission image" class="mission-home img-responsive pt-5 mt-4">
                            </div>
                    
                            <div class="col-sm-12 col-md-6 order-sm-2 pt-3">
                                <h3 class="mission-title ml-md-5">OUR MISSION</h3>
                                <p class="mission-text pt-3 mt-4 ml-md-5">At Black & White we’re all about getting people together and enjoying each other’s company. We believe that what we do can weave a fabric of positive relationships and experiences that stretch from our coffee houses and out into the world.</p> 
                                </div>
                    </div>
                    <div class="row">
                                <div class="col-sm-12 col-md-6 order-4 order-md-3 mt-3">
                                <h3 class="mission-title ml-md-5">OUR VISION</h3>
                                <p class="mission-text pt-3 mt-4 ml-md-5">We want to be a welcoming, comforting presence in every community we serve and anywhere else we happen to show up. We know our guests have a choice — and we never want them to feel less than special.</p> 
                                </div>

                                <div class="col-sm-12 col-md-6 order-3 order-md-4">
                                    <img src="{% static 'img/vission.png' %}" alt="mission image" class="mission-home img-responsive pt-5 mt-4">
                                </div>
                    </div>
            </section>


<!--Contact-->
    <section class="container-responsive contact-banner-home">
        <div class="row no-gutters">
            <div class="col-md-6 pt-md-3 mt-md-3 mt-xl-4">
                <p class="contact-text">Can't decide what coffee is best for your taste</p>
            </div>

            <div class="col-md-6 pt-md-3 mt-md-3 mt-xl-4"> 
                <a href="{% url 'contact' %}" class="text-white"><p class="contact-us small"><span class="contact-border">CONTACT US</span></p></a>
            </div>
        </div>
    </section>


{% endblock%}