{% extends 'base.html' %}

{% load static %}

{% block content %}

<!--Banner image-->

<div class="container-resposnive shops-banner push-footer-down">
    {% include 'components/navbar.html' %}
</div>

<!--breadcrumbs -->
<div class="container-fluid breadcrumbs">
    <div class="row">
        <div id="breadcrumbs" class="col-12">
            <a href="/" class="text-dark pl-4 ml-5">Home</a> &gt;
            <a href="{% url 'shops' %}" class="text-dark">Shops</a>
        </div>
    </div>
</div>

<!--Content-->
<div class="container resposnive">
    <div class="row">
        <div class="col">
            <h1 class="about text-center mt-5 pt-5">Find Us in Dorset</h1>
            <p class="text-about text-center rounded mx-auto d-block pt-3 mt-3">Please, find the nearest shop for you. Come visit us with your family or friends and enjoy the best coffee.<br>See you soon!</p>
        </div>
    </div>
</div>

<!--Google Maps API-->

<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-sm-12">
            <div id="map"></div>
        </div>
    </div>
</div>

{% endblock %}