{% extends 'base.html' %}

{% load static %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="title-delivery mt-5 pt-5">Terms & Conditions</h1>
            <hr>
            <p>By entering and using this website, you agree to all of the terms and conditions as set out below.</p>
            <h4 class="font-weight-bold mt-3 pt-4">Privacy statement</h4>
            <p>
                Black & White is committed to meeting its obligations under the Data Protection Act of 1998. Rave Coffee will 
                strive to observe the law in all collection and processing of subject data and will meet any subject access 
                request in compliance with the law. Rave Coffee will only use data in ways relevant to carrying out its legitimate 
                purposes and functions in a way that is not prejudicial to the interests of individuals. Rave Coffee will take due 
                care in the collection and storage of any sensitive data. Rave Coffee staff will do their utmost to keep all data 
                accurate, timely and secure.
            </p>
            <p>
                We may collect technical data about the type of Internet browser and computer operating system that you use. 
                This information does not identify you as an individual and is used only for tracking of site use. We might also 
                place a "cookie" on your hard drive that will help us to identify you when you return to the site and allow us to 
                tailor content to your personal preferences. If you do not wish to use "cookies" you may disable this option in your 
                Internet browser settings. "Cookies" can be removed from your computer.
            </p>
            <p>
                Any offer details and product specifications contained in this website are checked carefully and are correct at the time
                they are added to the website. However, occasionally mistakes can happen and we apologise if any offer is incorrect, 
                please advise us if this is the case and we will correct any errors without delay. Please note all offers are strictly 
                subject to availability and acceptance by Rave Coffee and nothing in this website constitutes or implies a contract of 
                sale unless confirmed in writing by an authorised representative of Black & White.  All and any offers may be withdrawn 
                without notice entirely at the discretion of Black & Coffee . Errors and omissions are excepted (E&OE).
            </p>
            <p>
                If you require confirmation of any offer availability, please contact Black & White. It is your entire responsibility to 
                do so before placing any order.Rave Coffee can accept contractual responsibility for your reliance on the information contained herein. 
                Black & White has made every effort to accurately illustrate any offers but please be aware that any images used on this website 
                are for illustrative purposes only.
            </p>

            <h4 class="font-weight-bold mt-3 pt-4">Pricing</h4>     
            <p>
                All prices quoted in this website were correct at the time of publication but errors and omissions are excepted (E&OE). Our site 
                contains a large number of products and it is always possible that, despite our best efforts, some of the products listed may be 
                incorrectly priced and we apologise if any offer is incorrect. Please advise us if this is the case and we will correct any errors without
                delay. Please note all offers are strictly subject to availability and acceptance by Black & White and nothing in this website constitutes 
                or implies a contract of sale unless confirmed in writing by an authorised representative of Black & White. All and any offers may be withdrawn
                without notice entirely at the discretion of Black & White.  
            </p>

            <h4 class="font-weight-bold mt-3 pt-4">Handling Complaints</h4>
            <p>
            We will in every case acknowledge complaints within 5 working days. We will ensure that in every case the customer is advised throughout the whole procedure.
            </p>

            <h4 class="font-weight-bold mt-3 pt-4">Disclaimer and liability</h4>
            <p>
                ALL EXPRESS WARRANTIES, REPRESENTATIONS, CONDITIONS OF ANY KIND OR OTHER TERMS IMPLIED BY STATUTE OR COMMON LAW WITH RESPECT TO THIS WEB SITE OR THE INFORMATION,
                CONTENT, MATERIALS OR PRODUCTS INCLUDED ON THIS WEB SITE ARE HEREBY EXPRESSLY EXCLUDED TO THE FULLEST EXTENT PERMITTED BY LAW. RAVE COFFEE SHALL NOT BE LIABLE 
                IN ANY CIRCUMSTANCES FOR ANY DIRECT OR INDIRECT, SPECIAL OR CONSEQUENTIAL LOSS OR DAMAGE (WHETHER FOR PROFIT OR LOSS OR OTHERWISE) COSTS, CLAIMS, EXPENSES OR OTHER 
                CLAIMS FOR COMPENSATION WHAT SO EVER, WHETHER CAUSED BY THE ACTS, ITS EMPLOYEES OR AGENTS, WHICH ARISE OUT OF OR IN CONNECTION WITH THE USE OF THIS WEB SITE 
                OR THE INFORMATION, CONTENT MATERIALS OR PRODUCTS INCLUDED ON THIS WEBSITE, EXCEPT IN RESPECT OF DEATH OR PERSONAL INJURY CAUSED BY RAVE COFFEE, ITS EMPLOYEES' 
                OR ITS AGENTS' PROVEN NEGLIGENCE. BLACK & COFFEE DOES NOT ACCEPT ANY RESPONSIBILITY OR LIABILITY FOR ACCESS TO OR MATERIAL ON, ANY WEBSITE THAT IS LINKED FROM OR TO THIS WEBSITE.
                VIEWS EXPRESSED IN USER GENERATED CONTENT, WHETHER ON THIS WEB SITE OR ON OTHER WEB SITES (INCLUDING SUCH CONTENT POSTED ON OTHER WEB SITES USING THIS WEB SITE 
                OR ANY TOOL AVAILABLE THROUGH IT) ARE THE VIEWS OF THE AUTHOR ALONE, ARE NOT THE VIEWS OF INTEGRATED DENTAL HOLDINGS LIMITED UNLESS EXPRESSLY STATED OTHERWISE AND ARE NOT 
                ENDORSED BY RAVE COFFEE.  RAVE COFFEE DOES NOT ACCEPT RESPONSIBILITY FOR OR ANY LIABILITY ARISING OUT OF SUCH USER GENERATED CONTENT. 
            </p>

            <h4 class="font-weight-bold mt-3 pt-4">Governing law</h4>
            <p class="bottom pb-5">
                This website is for use by persons located and resident within the United Kingdom, including Northern Ireland, the Channel Isles and the Isle of Man. Accordingly, 
                these terms and conditions shall be subject to English law and the parties to any dispute or action hereby submit to the exclusive jurisdiction of the English courts.
            </p>

        </div>
    </div>
</div>

{% endblock %}

{endblock}