@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poly|&display=swap');

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; 
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 30px;
    overflow-x: hidden;
    color: #333333;
}

/* Banner */
.logo-navbar{
    width: 600px;
}
.logo-nav{
    width: 80px;
    height: 46px;
    margin-right: 1rem;
    margin-top: -0.5rem;
}

.banner-background {
    background-image: url("https://i.ibb.co/LPgDQmn/banner-image.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-position: center 5%;
}

.read-more{
    border: 1.5px solid #AF9375;
    width: 10rem;
    text-align: center;
    margin-top: 0.625rem;
    margin-bottom: 10rem;
    background-color: #A88D70;
}
.form-search{
    text-indent: 8px;
}

/* Breadcrumbs */
.breadcrumbs,
.breadcrumbs-checkout{
    background-color: #f2f2f2;
    height: 40px;
    width: 100%;
    font-size: 1.2rem;
}


/* Products(Home Page) */
.image-products{
    background-image: url("https://i.ibb.co/0MNgRjd/image-products.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 80vh;
    width: 100%;
    background-position: center 5%;
}

.products-info{
    margin-top: 1rem;
}

.view-more{
    margin-top: 3rem;
    border: 1.5px solid #FFFFFF;
    width: 9rem;
    height: 50px;
    color: #FFFFFF;
}


/* Products */
.product-image{
    width: 100%;
    height: 50vh;
    margin-bottom: 0.5rem;
    border: 1px solid lightgray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.panel-body{
   height: 100%;
}


/* Video */
.video-background{
    background-image: url("https://i.ibb.co/0GYQFY0/video-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 70vh;
    width: 100%;
    background-position: center 5%;
}
video{
   width: 80vw;
}

.video-title{
    color: #AF9375;
    margin-top: 1rem; 
}


/* Mission and Vision */
.mission-home,
.vission-home{
    height: 400px;
    width: 100%;
}

.mission-title{
    margin-top: 3.5rem;
}


/* Contact */
.contact-banner-home{
    background-image: url("https://i.ibb.co/0fbmBCk/contact-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 18vh;
    width: 100%;
    background-position: center 5%; 
    margin-top: 10rem;
}

.contact-text,
.contact-us{
    text-align: center;
}

.contact-border{
    border: 1px solid #A88D70;
    background-color: #A88D70;
    border-width: 0.7rem;
}

.contact-us{
    color: #FFFFFF;
}


/* Footer */
.logo-footer{
    width: 300px
}
.page-footer{
    background-color: #6F6F6F;
}
.text-footer{
    width: 100%;
}
a{
    color: #FFFFFF;
}

a:hover,
i:hover{
    color:#AF9375;
}

/* About */
*{
    box-sizing: border-box;
    line-height: 1.8rem
}

.row-images {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


/* Contact */
.contact-form{
    background-image: url("https://theorbital.co.uk/wp-content/uploads/2020/03/daBEANZ.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100%;
    background-position: center;
}
.contact-content{
    color: #6F6F6F;
}
.contact-button{
    color: #FFFFFF;
}

.contact-button{
    background-color: #333333;
}
.contact-form-wrapper {
  background-color: #FFFFFF;
  border-radius: 6px;
  padding: 1rem;
  margin-top: 5rem;
}
.message{
    background-color: #333333;
    color: #FFFFFF;
}


/* Shops */
div#map {
    min-height: 360px;
    height: 60vh;
    margin-bottom: 40px;
}

th, td {
  padding: 4px;
}


/* Login & Register */
.alert{
    background-color: #333333;
    color: #FFFFFF;
}


/* Login */
.login,
.register,
.shopping-cart {
    margin-top: 2rem;
    width: 100%;
    padding: 4rem;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0 15px 25px #6F6F6F;
    border-radius: 10px;
}


/* Profile */
.profile-welcome{
    color: #A88D70;
}

.cart-image{
    width: 100px;
    height: 100px;
    margin-bottom: 0.5rem;
    border: 1px solid lightgray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.form-search{
    border-radius: 10px;
    width: 125px;
}


.introduction-text,
.products-tiitle,
.video-title,
.mission-title,
.promises-title {
       font-family: 'Poly';
}

/*Banner images*/
.banner{
    background-attachment: fixed;
    max-width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.shops-banner{
    background-image: url("https://images.unsplash.com/photo-1509785307050-d4066910ec1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2456&q=80");
}
.products-banner{
    background-image: url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
}
.about-banner{
    background-image: url("https://images.unsplash.com/photo-1557944617-baa9bfe964c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
}
.login-banner{
    background-image: url("https://images.unsplash.com/photo-1493925410384-84f842e616fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2602&q=80")
}
.register-banner{
    background-image: url("https://images.unsplash.com/photo-1493925410384-84f842e616fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2602&q=80")
}
.cart-banner{
    background-image: url("https://images.unsplash.com/photo-1511537190424-bbbab87ac5eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80")
}
.checkout-banner{
    background-image: url("https://images.unsplash.com/photo-1507914372368-b2b085b925a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80")
}
.terms-banner{
    background-image: url("https://images.unsplash.com/photo-1555763349-9aff11347d68?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80")
}
.delivery-banner{
    background-image: url("https://images.unsplash.com/photo-1518831449057-63cc79a76488?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80")
}
.profile-banner{
    background-image: url("https://images.unsplash.com/photo-1497935586351-b67a49e012bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80")
}
.contact-banner{
    background-image: url("https://images.unsplash.com/photo-1518832553480-cd0e625ed3e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")
}


/*Media Queries*/
@media only screen and (min-width: 1500px) {
    .logo-navbar{
    margin-top: 5rem;
}
}
@media only screen and (min-width: 1200px) {
.products-info{
    margin-top: 10rem;
}
}

@media only screen and (min-width: 1024px) {
.mission-title{
        margin-top: 7rem;
    }
.products-info{
    margin-top: 5rem;
    margin-right: 15rem;
}
.contact-text{
    font-size: 1.5rem;
    margin-left: 12%;
    }
.products-title{
    font-size: 2.3rem;
    font-family: 'Poly', serif;
}
.products-text,
.view-more{
    font-size: 1.5rem;
}
.view-more{
    width: 15rem;
}
.introductionn{
    margin-left: 0%;
    margin-right: 30%;
}
.video-title{
    margin-top: 5rem;
}
}

@media only screen and (min-width: 767px) {
.products-text{
    width: 600px;
}
.introductionn{
    margin-left: 22%;
    margin-right: 22%;
}
.text-footer{
    width: 40%;
}
.video{
    width: 50%;
    height: 380px;
}
.contact-border{
    border-width: 1.2rem; 
}
.contact-banner-home{
    height: 14vh;
}
}

@media only screen and (max-width: 767px) {
.image-products{
    min-height: 50vh;
}
.promises-text{
    padding-bottom: 3rem;
}
.video-background{
    min-height: 80vh;
}
.breadcrumbs-checkout{
    font-size: 1rem;
}

@media only screen and (max-width: 968px) {
.logo-navbar{
    width: 300px;
    margin-top: 2rem;
}
.banner-background{
    min-height: 70vh;
}
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}