@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 30px;
    overflow-x: hidden;
    color: #333333;
}


/* Banner */
.banner-background {
    background-image: url("https://i.ibb.co/LPgDQmn/banner-image.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-position: center 5%;
}

.read-more{
    border: 1.5px solid #AF9375;
    width: 10rem;
    text-align: center;
    margin-top: 0.625rem;
    margin-bottom: 10rem;
}


/* Products */
.image-products{
    background-image: url("https://i.ibb.co/0MNgRjd/image-products.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    width: 100%;
    background-position: center 5%;
}

.products-info{
    margin-top: 5rem;
}

.view-more{
    margin-top: 3rem;
    border: 1.5px solid #FFFFFF;
    width: 9rem;
    height: 50px;
    color: #FFFFFF;
}


/* Video */
.video-background{
    background-image: url("https://i.ibb.co/0GYQFY0/video-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    width: 100%;
    background-position: center 5%;
}

.video-title{
    color: #AF9375;
    margin-top: 5rem; 
}


/* Mission and Vision */
.mission-home,
.vission-home{
    height: 400px;
    width: 100%;
}

.mission-title{
    margin-top: 7.5rem;
}


/* Contact */
.contact-banner{
    background-image: url("https://i.ibb.co/0fbmBCk/contact-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 15vh;
    width: 100%;
    background-position: center 5%; 
    margin-top: 10rem;
}

.contact-text,
.contact-us{
    text-align: center;
}

.contact-border{
    border: 1px solid #A88D70;
    background-color: #A88D70;
    border-width: 1.5rem;   
}

.contact-us{
    color: #FFFFFF;
}

/* Footer */
.logo-footer{
    width: 300px
}
.page-footer{
    background-color: #707070;
}
.text-footer{
    width: 400px;
}
a{
    color: #FFFFFF;
}
/* Media Quries */

@media only screen and (min-width: 1024px) {
.mission-title{
        margin-top: 15rem;
    }
.contact-text{
        font-size: 2.1rem;
        margin-left: 12%;
    }
}

@media only screen and (min-width: 786px) {
.products-text{
        width: 600px;
    }

@media only screen and (max-width: 767px) {
.image-products{
    min-height: 50vh;
}

.video-background{
    height: 300px;
}
}

@media only screen and (max-width: 968px) {
.video-youtube{
        width: 300px;
    }
}