@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap');

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    font-family: 'Libre Caslon Text', serif;
    background-color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 30px;
    overflow-x: hidden;
    color: #333333;
}


/* BANNER */
.banner-image{
    width: 100%;
    height: 80%;
    position: relative;
}


.read-more{
    border: 1.5px solid #AF9375;
    width: 10rem;
    text-align: center;
    margin-top: 0.625rem;
}


/* Products(home page) */
.products-image{
    max-height: 70vh;
    width: 100%;
}
.products-text{
    position: absolute;
    color: #FFFFFF;
    right: 20rem;
    margin-top: 15rem;
}

.products-info{
    position: absolute;
    color: #FFFFFF;
    right: 8.5rem;
    margin-top: 15rem;
    width: 600px;
    text-align: center;
}

.view-more{
    border: 1.5px solid #FFFFFF;
    width: 9rem;
    height: 50px;
    color: #FFFFFF;
    position: absolute;
    right: 20rem;
    margin-top: 24rem;
    text-align: center;
}
.viewmore{
    margin-top: 0.625rem;
}

/* Video */

.video-background{
    width: 100%;
    position: relative;
}

.video-text{
    color: #AF9375;
    font-size: 1.4rem;
    position: absolute;
    margin-top: 4.5rem;
    text-align: center;
    right: 0;
    left: 0;
}

.video{
    height: 260px;
    width: 450px;
    position: absolute;
    margin-top: 10rem;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
}
/* Mission and Vision */

.mission-home,
.vission-home{
    height: 400px;
    width: 100%;
}
.mission-title{
    margin-top: 7.5rem;
}

/* Contact */
.contact-banner{
    width: 100%;
    max-height: 20vh;
    position: relative;
}
.contact-text{
    color: #333333;
    top: -5.5rem;
    position: absolute;
}
.contact-us{
    position: absolute;
    top: -5.5rem;
    font-size: 0.9rem;
    margin-left: 70%;
    border: 1px solid #A88D70;
    background-color: #A88D70;
    height: 50px;
    color: #FFFFFF;
    text-align: center;
    width: 10%;
    margin-top: -1.2rem;
}
.contact-s{
    margin-top: 6px;
}


/* Footer */

.site-footer{
    max-width: 100%;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color: #FFFFFF;
    background-color: #707070;
}
.footer-text{
    width: 500px;
}
.site-footer hr{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small{
    margin:20px 0
}

.footer-links,
.nav{
    padding-left:0;
    list-style:none
}

.footer-links li{
    display:block
}

.footer-links.inline li{
    display:inline-block
}

.site-footer .social-icons{
    text-align:right
}

.site-footer .social-icons a{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}
.copyright-text
{
  margin:0
}


.social-icons{
    letter-spacing: 5px;
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li{
    display:inline-block;
    margin-bottom:4px
}



@media (max-width:767px)
{

}
/* Media Queires */

@media only screen and (max-width: 768px) {
    .video-background{
        height: 400px;
    }
    .contact-us{
        width: 100px;
    }
    .video{
        height: 180px;
        width: 250px;
    }
    .products-text{
        margin-top: 3.5rem;
        right: 6rem;
    }
    .products-info{
        margin-top: 8.2rem;
        right: 3rem;
        width: 250px;
        text-align: center;
}
    .view-more{
        margin-top: 20rem;
        right: 11rem;
}
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
@media only screen and (min-width: 1400px) {
    .video-background{
       max-height: 70vh;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1023px)  {
    .products-info{
        width: 400px;
        right: 4rem;
    }
    .contact-text,
    .contact-us{
        top: -10rem;
    }
}

@media only screen and (min-width: 768px) {
    .introductionn{
        margin-left: 22%;
        margin-right: 22%;
    }
    .products-text{
        position: absolute;
        color: #FFFFFF;
        right: 15rem;
        margin-top: 10rem;
    }
}

@media only screen and (min-width: 1024px) {
    html{
        font-size: 1rem;
    }
    .contact-text{
        padding-left: 10rem;
    }
    }
    @media (max-width:991px){
    .site-footer [class^=col-]{
        margin-bottom:30px;
        margin-top:20px;
  }
}