{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block head_js %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
    </script>
    <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}


<!--Banner image-->
<div class="container-resposnive checkout-banner push-footer-down">
    {% include 'components/navbar.html' %}
</div>

<!--breadcrumbs -->
<div class="container-fluid breadcrumbs">
    <div class="row">
        <div id="breadcrumbs" class="col-12">
            <a href="/" class="text-dark ml-lg-5 pl-lg-5">Home</a> &gt;
            <a href="{% url 'products' %}" class="text-dark">Products</a> &gt;
            <a href="{% url 'view_cart' %}" class="text-dark">Cart</a> &gt;
            <a href="{% url 'checkout' %}" class="text-dark">Checkout</a>
        </div>
    </div>
</div>

<!--Shopping Cart-->
{% for item in cart_items %}
<div class="container">
    <div class="row rounded mx-auto shopping-cart mt-5 pt-5 mb-5 pb-5">
        <div class="col-4">
            <div class="cart-image mx-auto" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"
                title="{{ item.product.title }}"></div>
            </div>

            <div class="col-8">
                <div class="row">
                    <div class="col-12 ml-5">
                        <h4>{{ item.product.name }}</h4>
                    </div>
                </div>
                    <div class="row ml-lg-5 justify-content-end"> 
                        <div class="col-6 align-items-end justify-content-end">
                            <p class="price">Price: £{{ item.product.price }}</p>
                            <div class="input-group-addon mb-3">Quantity: {{item.quantity}}</div>
                            <h3 id="subtotal">Subtotal: £<span class="subtotal-js">{{ total }}</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div>
</div>
    {% endfor %}



<!--Payments Form-->
<div class="container text-center pt-5">
<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <legend>Payment Details</legend>

    <div id="credit-card-errors" style="display: none;">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>
<div class="row mt-5 pt-3">
    <div class="form-group col-md-6">
        {{ order_form | as_bootstrap }}
    </div>

    <div class="form-group col-md-6">
        {{ payment_form | as_bootstrap }}
    </div>
</div>
    {% csrf_token %}
    <div class="form-group col-md-12">
        <input class="btn btn-success" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
</form>
</div>


{% endblock %}