{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}


{% block content %}
    {% if messages %}
    <div>
        {% for message in messages %} 
            {{ message }} 
        {% endfor %}
    </div>
    {% endif %}

<!--Login Form-->
<div class="container text-center rounded mx-auto">
    <div class="row text-center d-inline-block">
        <div class="col-12">
            <div class="login rounded mx-auto contact-form-wrapper my-5 d-block pb-5 mb-5 pt-5 mt-5">
                <h2>Login</h2>      
                <form method="POST" class="mt-5 text-center rounded mx-auto">
                {% csrf_token %} {{ login_form | as_bootstrap}}
                <button class="text-dark submit mt-2 pb-1 mt-3 rounded mx-auto d-block mb-3" type="submit">Sign in</button>
                 <p class="text-muted mb-3 border-bottom">Need an account? <a href="{% url 'registration' %}"  class="text-dark">Register here.</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
    


{% endblock %}




