{% extends 'base.html' %}

{% block content %}

<!--Banner image-->
<div class="container-resposnive banner profile-banner push-footer-down">
    {% include 'components/navbar.html' %}
</div>

<!--breadcrumbs -->
<div class="container-fluid breadcrumbs">
    <div class="row">
        <div id="breadcrumbs" class="col-12 mt-1">
            <a href="/" class="text-dark ml-lg-5 pl-lg-5">Home</a> &gt;
            <a href="{% url 'profile' %}" class="text-dark">Profile</a>
        </div>
    </div>
</div>

<h1 class="text-center profile-welcome mt-5 pt-5">Welcome {{ profile.username }}</h1>
<p class="text-center pt-4 profile-content">Here you can see your order</p>

    <div class="container mt-5 pt-3 mb-5">
    <div class="row">
    <div class="col-12">
        <h3>Personal Info <i class="fas fa-user"></i></h3>
    
    <!--Displays specific user info-->
            <h6 class="username py-2">
                Username:
            </h6>
            <p> {{ user }} </p>
        
            <h6 class="email py-2 red">
                Email Address:
            </h6>
            <p> {{ user.email }} </p>

        </div>
    </div>
</div>
{% endblock %}