{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}


{% block content %}
    {% if messages %}
    <div>
        {% for message in messages %} 
            {{ message }} 
        {% endfor %}
    </div>
    {% endif %}


<!--Banner image-->
<div class="container-resposnive register-banner push-footer-down">
    {% include 'components/navbar.html' %}
</div>

<!--breadcrumbs -->
<div class="container-fluid breadcrumbs">
    <div class="row">
        <div id="breadcrumbs" class="col-12">
            <a href="/" class="text-dark pl-4 ml-5">Home</a> &gt;
            <a href="{% url 'registration' %}" class="text-dark">Register</a>
        </div>
    </div>
</div>

<!--Register Form-->
 <div class="container">
    <div class="row ">
        <div class="col-12">
            <div class="register contact-form-wrapper pb-5 mb-5 pt-5 mt-5">
                <h2>Register</h2>      
                <form method="POST" class="mt-5">
                {% csrf_token %} {{ registration_form | as_bootstrap}}
                <button class="text-dark submit mt-2 pb-1 mt-3 rounded mx-auto d-block mb-3" type="submit">Sign up</button>
                 <p class="text-muted mb-3 border-bottom">Already have an account? 
                 
                 <a href="{% url 'login' %}"
                                    class="text-dark">Login.</a></p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}