{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block content %}


<div class="container">
    <div class="row shopping-cart mt-5 pt-5 mb-5 pb-5">

    {% for item in cart_items %}

    <div class="col-4">
        <div class="cart-image mx-auto" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"
            title="{{ item.product.title }}"></div>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-12">
                <h4>{{ item.product.name }}</h4>
            </div>
        </div>
        <div class="row justify-content-end"> 
            <div class="col-4 d-flex align-items-end justify-content-end">
                <p class="price">€{{ item.product.price }}</p>
            </div>
            <div class="col-5 col-xl-4 text-center">
                <p class="sml-data">Quantity</p>
                <p>{{ Quantity }}</p>
            </div>
        </div>
    </div>
    
    <div class="col-12">
        <hr>
    </div>

{% endfor %}

    <div class="col-12 text-right">
        <h3 id="subtotal">Subtotal: £<span class="subtotal-js">{{ total }}</span></h3>
            <p>Tax included</p>
            <a href="/" class="btn mb-3 btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
    </div>

    </div>
</div>
{% endblock %}
