{% load static %}

<!-- Footer -->
<footer class="page-footer font-small text-white pt-2 ">

<!--Logo-->
<div class="container-fluid text-center text-center px-0 mt-3 pt-3 pb-3 mb-3">

    <div class="row no-gutters m-0">  

        <div class="col-12 mt-md-0 mt-2">
             <a href="{% url 'home' %}"><img src="{% static 'img/logo.png'%}" alt="logo" class="logo-footer img-responsive"></a>
        </div>
    </div>
</div>

<div class="col-12 text-center mt-md-0">
     <p class="text-footer rounded mx-auto d-block">Since 1971, it always has been and will always be about quality. We’re passionate about ethically sourcing only the finest Arabica beans and roasting them with great care. At Black & White, our passion for coffee is rivaled only by our love of sharing it.</p>
    <img src="{% static 'img/break-image-footer.svg' %}" alt="break-image-footer" class="break-image mt-3 ">
</div>

<div class="container text-center text-md-left mt-3">
    <div class="row text-center text-md-left mt-3 pb-3">
        <hr class="w-100 clearfix d-md-none">
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <p>
                67 Old Christchurch Road,
                Bournemouth
                BH1 1EW, England
                +44 1202 314151 
            </p>
        </div>
        <hr class="w-100 clearfix d-md-none">

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <p>
                Lifeboat Quay,
                Poole
                BH6 3ED, England
                +44 1202 314152 
            </p>
        </div>

        <hr class="w-100 clearfix d-md-none">
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <p>
                23 Quay Road,
                Christchurch
                BH9 4EW, England
                +44 1202 3141513
            </p>
        </div>
    </div>

<!--Copyright-->
    <hr>
    <div class="row d-flex align-items-center small">
        <div class="col-md-4 col-lg-3">
            <p class="copyright-text ml-sm-2">&copy; All copyright: Black&White Coffee</p>
        </div>
        <div class="col-md-4 col-lg-5 ml-lg-0">
            <div class="text-center text-md-right text-white">
                <ul class="list-unstyled list-inline text-white">
                <a href="#">
                    <li class="list-inline-item text-white">
                        <p>
                            <a href="{% url 'products' %}" class="text-white text-uppercase">products</a>&nbsp;&#124;
                        </p>
                    </li>
                    </a>
                    <a href="#">
                    {% if user.is_authenticated %}
                    <li class="list-inline-item text-white">
                        <p>
                            <a href="{% url 'logout' %}" class="text-white text-uppercase">logout</a>&nbsp;&#124;
                        </p>
                    </li>
                    </a>
                    {% else %}
                    <a href="#">
                    <li class="list-inline-item text-white">
                        <p>
                            <a href="{% url 'login' %}" class="text-white text-uppercase">login</a>&nbsp;&#124;
                        </p>
                    </li>
                    </a>
                    {% endif %}
                
                    <a href="#">
                    <li class="list-inline-item">
      			        <p>
                            <a href="{% url 'terms' %}" class="text-white text-uppercase">terms</a>&nbsp;&#124;
                        </p>
                    </li>
                    </a>
                    
                    <li class="list-inline-item">
 						<p>
                           <a href="{% url 'delivery' %}" class="text-white text-uppercase">delivery</a>
                        </p>
                    </li>           
                </ul>
            </div>
        </div>

<!-- Social Media -->
<div class="col-md-4 col-lg-4 ml-lg-0">
    
    <div class="text-center text-md-right pb-2 mb-3">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <a href="https://facebook.com/" target="_blank"
                            aria-label="Find me on Facebook" rel="noopener">
                <i class="fab fa-facebook-f text-white"></i>
                    </a>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                     <a href="https://instagram.com/" target="_blank"
                            aria-label="Find me on Instagram" rel="noopener">
                <i class="fab fa-instagram text-white"> </i>
                    </a>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <a href="https://twitter.com" target="_blank"
                            aria-label="Find me on Twitter" rel="noopener">
                <i class="fab fa-twitter text-white"></i>
                    </a>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <a href="https://linkedin.com/" target="_blank"
                            aria-label="Find me on Linkedin" rel="noopener">
                <i class="fab fa-linkedin-in text-white"></i>
                    </a>
                </a>
            </li>
          </ul>
        </div>
    </div>
    </div>
    </div>

</footer>