{% load static %}

<nav class="navbar navbar-expand-lg navbar-light pt-4">

<!--Logo-->
    <a class="navbar-brand px-1 mr-md-1" href="{% url 'home' %}">
        <img src="{% static 'img/logonavbar.svg'%}" alt="logo" class="logo-nav img-responsive">
    </a>

      <a class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
     aria-expanded="false" aria-label="Toggle navigation" style="color: #fff;">
    <i class="fas fa-bars"></i></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

    <!--Products-->
        <li class="nav-link active mr-3">
            <a class="text-uppercase" href="{% url 'products' %}" style="text-decoration: none;">produts<span 
                class="sr-only">(current)</span></a>
        </li>

    <!--Shops-->
        <li class="nav-link active mr-3">
            <a class="text-uppercase" href="{% url 'shops' %}" style="text-decoration: none;">shops<span 
                class="sr-only">(current)</span></a>
        </li>

    <!--About-->
        <li class="nav-link active mr-3">
            <a class="text-uppercase" href="{% url 'about' %}" style="text-decoration: none;">about<span 
                class="sr-only">(current)</span></a>
        </li>

        {% if user.is_authenticated %}
        {% else %}
    <!--Login-->
        <li class="nav-link mr-3">
            <a class="text-uppercase hov hov-2" href="{% url 'login' %}" style="text-decoration: none;">login<span
                class="sr-only"></span></a>
        </li>
    <!--Logout-->
        <li class="nav-link mr-3">
            <a class="text-uppercase hov-2" href="{% url 'registration' %}" style="text-decoration: none;">register<span
                class="sr-only"></span></a>
        </li>
        {% endif %}

    </ul>



    <!--Search-->
        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
            <input class="form-search" type="search" name="q" placeholder="Search" aria-label="Search"> 
                <button class="btn text-white" type="submit"></button>
        </form>
         {% if user.is_authenticated %}
    <!--Profile-->
        <li class="nav-link">
            <a class="text-white" href="{% url 'profile' %}"><i class="fas fa-user"></i><span
                class="sr-only"></span></a>
        </li>
    <!--Logout-->
        <li class="nav-link">
            <a class="text-white" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i><span
                class="sr-only"></span></a>
        </li>
    {% endif %}

    <!--Shopping-->
        <div id="navbar-icons-desktop" class="icon-shopping">
           <a href="{% url 'view_cart' %}">
                <i class="fas fa-shopping-cart">
                {% if product_count > 0 %}
                    <label class="badge badge-secondary">{{ product_count }}</label>
                 {% endif %}
                </i> 
            </a>
        </div>

  </div>
</nav>