{% load static %}

<nav class="navbar navbar-expand-lg navbar-light pt-4">

    <a href="#" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
     aria-expanded="false" aria-label="Toggle navigation" style="color: #fff;">
    <i class="fas fa-bars"></i></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        
        <!--Logo-->
            <li>
                <a href="{% url 'home' %}"><img src="{% static 'img/logo.png'%}" alt="logo" class="logo-nav img-responsive"></a>
            </li>
        <!--Products-->
            <li class="nav-link active mr-3">
                <a class="text-white text-uppercase" href="{% url 'products' %}">products<span
                class="sr-only">(current)</span></a>
            </li>
        <!--Shops-->
            <li class="nav-link mr-3">
                <a class=" text-white text-uppercase" href="{% url 'shops' %}">shops<span class="sr-only">(current)</span></a>
            </li>
        <!--About us-->
            <li class="nav-link mr-3">
                <a class="text-white text-uppercase" href="{% url 'about' %}">about<span
                class="sr-only">(current)</span></a>
            </li>

        {% if user.is_authenticated %}
        {% else %}
        <!--Login-->
            <li class="nav-link mr-3">
                <a class="text-white text-uppercase" href="{% url 'login' %}">login<span
                class="sr-only"></span></a>
            </li>

            <li class="nav-link mr-3">
                <a class="text-white text-uppercase" href="{% url 'registration' %}">register<span
                class="sr-only"></span></a>
            </li>
        {% endif %}
    </ul>

    <!--Search-->
       <div class="navbar-nav">
            <li class="nav-item">
                <form action="{% url 'search' %}" method="get">
                <input class="form-search" type="search" name="q" placeholder="Search" aria-label="Search"> 
                    <button class="btn text-white" type="submit"></button>
            </form>
            </li>
        </div>
    </div>

    {% if user.is_authenticated %}
    <!--Profile-->
        <li class="nav-link d-inline-block">
            <a class="text-white" href="{% url 'profile' %}"><i class="fas fa-user white text-white"></i><span
            class="sr-only"></span></a>
        </li>
        <li class="nav-link mr-3">
            <a class="text-white text-uppercase" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i><span
                class="sr-only"></span></a>
        </li>
    {% endif %}

    <!--Shopping-->
        <div id="navbar-icons-desktop" class="icon-shopping">
           <a href="{% url 'view_cart' %}">
                <i class="fas fa-shopping-cart">
                {% if product_count > 0 %}
                    <label class="badge badge-secondary">{{ product_count }}</label>
                 {% endif %}
                </i> 
            </a>
        </div>

</nav>